# root directory related ignoring files
.idea
.DS_Store

# frontend directory related ignoring files
crypto-app-front-end/.vscode
crypto-app-front-end/.idea
crypto-app-front-end/.env-cmdrc.json
crypto-app-front-end/.env
crypto-app-front-end/.dockerignore
crypto-app-front-end/.DS_Store

crypto-app-front-end/node_modules
crypto-app-front-end/package-lock.json
crypto-app-front-end/build

# backend directory related ignoring files
crypto-app-service/.env
crypto-app-service/.vscode
crypto-app-service/.idea
crypto-app-service/.env-cmdrc.json
crypto-app-service/.dockerignore
crypto-app-service/.DS_Store

crypto-app-service/node_modules
crypto-app-service/package-lock.json

# flask api directory related ignoring files
flask-api/.vscode
flask-api/.idea

flask-api/Models


